/* Root element */
#root {
    background-color: rgb(21, 21, 21);
    color: #eeeeee;
}

/* Header top section */
.header-top {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    position: relative;
    z-index: 2;
}

.pagelogo {
    display: flex;
    margin: 0.5rem 2rem;
    width: clamp(2rem, 5vw, 6rem);
    color: white;
    cursor: pointer;
}

.header-text {
    display: flex;
    flex-direction: row;
    margin-top: clamp(5px, 1vw, 10px);
}

.text1 {
    color: rgb(226, 40, 40);
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    margin-right: 10px;
    font-family: SUIT;
}

.text2 {
    color: white;
    margin: clamp(0.5rem, 1vw, 1rem) clamp(1.5rem, 2.5vw, 3rem) 0 0;
    font-size: clamp(2.6rem, 3vw, 6rem);
    font-weight: 600;
    font-family: Alike, serif;
}

.header-bottom {
    position: absolute;
    left: 0;
    width: 40%;
    margin-left: 55%;
    background-color: white;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    background-color: rgb(21, 21, 21);
    width: 100%;
    padding: 1rem 2rem;
}

.header-right {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* Enables wrapping */
    align-items: center;
}

.header-right-left,
.header-right-right {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 1rem; /* Adds spacing between buttons */
}

.header-right-upper1,
.header-right-upper2 {
    color: white;
    font-size: clamp(1rem, 3vw, 6rem);
    border: none;
    background-color: rgb(21, 21, 21);
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    text-align: start;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-top:hover + .header-bottom,
.header-bottom:hover {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    background-color: rgb(21, 21, 21);
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    background-color: rgb(21, 21, 21);
}

.main-logo {
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    align-items: flex-end;
    z-index: 1;
}

.s {
    display: flex;
    position: relative;
    width: clamp(0.8rem, 10vw, 12.5vw);
    margin-bottom: clamp(1rem, 5vw, 10rem);
    margin-left: clamp(0.3rem, 0.5vw, 1rem);
}

.main-logo-text {
    font-size: clamp(4rem, 23.5vw, 100vw);
    color: rgb(227, 41, 41);
    font-family: impact, sans-serif;
    margin: 0px;
    align-self: flex-end;
}

.main-image {
    position: relative;
    margin-top: -15vw;
    display: flex;
    width: 100%;
    z-index: 0;
}

.main-text {
    font-size: clamp(1.5rem, 4vw, 4rem);
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 25rem;
}

.main-button {
    display: flex;
    align-items: center;
    background: none;
    border: 0.3rem solid red;
    margin-top: 10rem;
    max-width: 120rem;
    color: red;
    padding: clamp(0.5rem, 1vw, 2rem) clamp(1rem, 2vw, 10rem);
    font-size: clamp(0.8rem, 1.7vw, 3.5rem);
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    white-space: pre;
}

.main-button p {
    padding-left: 40px;
}

.main-button:hover {
    background-color: red;
    color: white;
}

.about-section {
    display: flex;
    position: relative;
    width: 75%;
    margin: 0px auto;
    flex-direction: column;
}

.about-title {
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Alike, serif;
    font-size: clamp(3.5rem, 5vw, 7rem);
    font-weight: bold;
    text-align: left;
}

.about-part1 {
    display: flex;
    margin-top: clamp(3.5rem, 5vw, 7rem);
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
}

.parent-part1 {
    display: flex;
    width: 46%;
    align-items: flex-end;
}

.parent-part-class {
    display: none;
}

.about-part1-text {
    display: flex;
    width: 100%;
    color: rgb(238, 238, 238);
    font-size: clamp(1rem, 1.8vw, 3rem);
    align-self: flex-end;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 1.5;
}

.about-part1-image {
    display: flex;
    width: 54%;
}

.about-shape {
    display: flex;
    position: relative;
    width: 60%;
    margin: -12vw auto;
    z-index: 1;
}

.about-part2 {
    display: flex;
    position: relative;
    flex-direction: row;
    z-index: 0;
}

.about-part2-image {
    display: flex;
    width: 56%;
}

.about-part2-text {
    display: flex;
    margin-left: 1%;
    width: 100%;
    color: rgb(238, 238, 238);
    font-size: clamp(1rem, 1.8vw, 3rem);
    align-items: flex-start;
    word-break: keep-all;
    line-height: 1.5;
}

.bottom-image {
    display: flex;
    justify-content: center;
}

.bottom-image-s {
    width: 131px;
    height: 329px;
    object-fit: cover;
    margin-bottom: 4rem;
}

.bottom-textbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

svg {
    font-size: clamp(2rem, 4vw, 8rem);
}

.bottom-text {
    width: 100%;
    max-width: 1219px;
    min-width: 320px;
    height: 100px;
    border: none;
    background-color: rgb(66, 66, 66);
    color: rgb(238, 238, 238);
    font-family: "Noto Sans", sans-serif;
    font-weight: 550;
    padding: 0px 2rem;
    margin: 0px 2rem;
    font-size: clamp(1.25rem, 2vw, 2rem);
}

.blank2 {
    height: 500px;
    background-color: rgb(21, 21, 21);
}

.title {
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Alike, serif;
    font-size: clamp(3.5rem, 5vw, 7rem);
    font-weight: bold;
    text-align: left;
}

.benefit-section {
    display: flex;
    position: relative;
    width: 64%;
    margin: 0px auto;
    flex-direction: column;
}

.benefit-part {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 21rem;
    flex-direction: row;
    justify-content: space-between;
}

.benefit-part-image {
    display: flex;
    width: 20%;
    min-width: 250px;
    max-width: 600px;
    max-height: 1400px;
    object-fit: contain
}

.benefit-text-section {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 5%;
    min-width: 300px;
}

.benefit-logo {
    display: flex;
    width: 10%;
    margin-top: 10rem;
    align-self: flex-start;
}

.benefit-text {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
}

.benefit-title {
    display: flex;
    color: rgb(238, 238, 238);
    font-size: clamp(2rem, 3vw, 2.5rem);
    font-weight: bold;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    line-height: 1.5;
}

.benefit-p {
    color: rgb(238, 238, 238);
    font-size: clamp(1.2rem, 2vw, 3rem);
    margin: 5rem 0px;
    width: 85%;
    word-break: keep-all;
    white-space: pre-wrap;
    line-height: 1.5;
}

.benefit-p-3 {
    color: rgb(238, 238, 238);
    font-size: clamp(1.2rem, 2vw, 3rem);
    margin: 5rem 0px;
    width: 85%;
    align-items: flex-start;
    word-break: keep-all;
    white-space: pre-wrap;
    line-height: 1.5;
}

.partner-section {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: 0px auto;
    background-color: rgb(21, 21, 21);
}

.partner-content {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner-image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 4rem;
}

.partner-part {
    margin-top: 3rem;
    text-align: left;
    width: 100%;
}

.partner-part-title {
    font-weight: bold;
    color: rgb(229, 230, 232);
    font-family: "Noto Sans", sans-serif;
}

.partner-part-p {
    font-family: "Noto Sans", sans-serif;
    color: rgb(229, 230, 232);
    line-height: 1.75;

}

.experience-title-section {
    width: 64%;
    background-color: rgb(21, 21, 21);
    margin: 0px auto;
}

.experience-title {
    display: flex;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: Alike, serif;
    font-size: clamp(3.5rem, 5vw, 7rem);
    font-weight: bold;
    text-align: left;
}

.experience-content {
    margin: 4rem auto;
    overflow: hidden;
}

.custom-slider {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden; /* Hide the overflowing slides */
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.slides {
    display: flex;
    transition: transform 0.5s ease; /* Smooth slide animation */
}

.slide {
    flex: 0 0 100%; /* Each slide takes up 100% of the container */
    text-align: center;
    padding: 20px;
}

.box {
    height: 200px;
    background-color: #e5e5e5;
    margin-bottom: 20px;
}

.box-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.box-p {
    font-size: 1rem;
    color: #555;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(https://seungyun-park.github.io/sequence/static/media/WhoMadeImage.8573a1ad206903af4472.png) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-textarea {
    position: relative;
    z-index: 1;
    text-align: center;
}

.footer-title {
    font-family: 'Alike', serif;
    font-size: 4rem;
    color: white;
}

.title-text {
    font-family: 'Alike', serif;
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
}

.design-dev-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.design-dev-part {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}

.footer-part-text {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
    align-items: center;
}

.role-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: rgb(136, 136, 136);
    font-style: italic;
    text-align: right;
}

.name-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    gap: 1rem;
}

.design-dev-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank4 {
    background-color: rgb(15, 15, 15);
    height: 10vh;
}

.blank2 {
    height: 500px;
    background-color: rgb(21, 21, 21);
}

.blank5 {
    height: 200px;
    background-color: rgb(21, 21, 21);
    ;
}