body{
    margin: 0;
    width: 1980px;
    box-sizing: border-box;
    background-color: #1E1E1E;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
}

.top-bar{
    display: flex;
    height: 100px;
}

.logo{
    padding-right: 50px;
    padding-top: 25.6px;
    width: 179px;
}
nav .top-menu{

}

.top-menu a{
    color: white;
}

.login-btn a{
    color: #E32929;
    text-decoration: none;
    border: 3px solid #E32929;
}

.main-background{
    position: relative;
    text-align: center;
}

.main-text-image-1{

}

.main-text-image-2{

}

.main-background .background-image img{
    width: 100%;
    height: 
}

.main-background .main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-text h1{

}

.main-bottom-btn{

}

.main-bottom-btn a{

}

.main-bottom-btn img{

}

.section-about{

}
