body{
    margin: 0;
    width: 1920px;
    box-sizing: border-box;
    background-color: #1E1E1E;
    color: white;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
}

.top-bar{
    display: flex;
    height: 110px;
    padding: 25.6px 50px;
}

.logo{
    padding-right: 50px;
    padding-top: 25.6px;
    width: 179px;
}
nav .top-menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.top-menu a{
    color: white;
    font-size: 32px;
    
}

.login-btn a{
    color: #E32929;
    text-decoration: none;
    font-size: 28px;
    border: 3px solid #E32929;
}

.main-background{
    position: relative;
    height: 2246px;
    padding-top: 530px;
    text-align: center;
}

.main-text-images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px 0;
}

.main-text-image-1 img{
    width: 235px;
    height: 555px;
    margin-right: -10px;
    padding-top: 9px;
    padding-right: 40px;
    gap: 31px;
}

.main-text-image-2 img{
    width: 1595px;
    height: 405px;
    padding-top: 205px;
    padding-left:19px;
}

.main-background .background-image img{
    width: 1966px;
    height: 1079px;
    padding-top: 316px;
}

.main-background .main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-text h1{
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.main-bottom-btn{
    justify-content: center;
    align-items: center;
}

.main-bottom-btn img{
    padding: 112px 580px 68px 580px;
}

.section-about{
    height: 1901px;
}

.about-title{
    padding-left: 345px;
    padding-top: 164px;
}