#root{
    background-color:rgb(21, 21, 21) ;
}

.header-top{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding:1.5rem 0px;
    margin: 0px auto;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(21,21,21);
    position: relative;
    z-index: 2;
}
.pagelogo{
    display:flex;
    margin: 0.5rem 2rem;
    position: relative;
    width: clamp(2rem, 5vw, 6rem);
    color:white;
    cursor:pointer;
}
.header-text{
    display: flex;
    flex-direction: row;
    margin-top: clamp(5px, 1vw, 10px);
}
.text1{
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    color:rgb(226,40,40);
    font-size: clamp(0.75rem, 1.5vw, 2rem);
    margin-right:10px;
    font-family:SUIT;
}
.text2{
    color:white;
    margin:clamp(0.5rem, 1vw, 1rem) clamp(1.5rem, 2.5vw, 3rem) 0px 0px;
    font-size: clamp(2.6rem, 3vw, 6rem);
    font-weight: 600;
    font-family: Alike, serif;
}
.bottom-image{
    display: flex;
    justify-content: center;
}
.bottom-image-s{
    width:131px;
    height:329px;
    object-fit: cover;
    margin-bottom:4rem;
}
.bottom-textbox{
    display:flex;
    justify-content: center;
    width: 100%;
}
.bottom-text{
    width: 100%;
    max-width:1219px;
    min-width:320px;
    height: 100px;
    border:none;
    background-color: rgb(66,66,66);
    color: rgb(238,238,238);
    font-family: "Noto Sans", sans-serif;
    font-size: 550;
    padding:0px 2rem;
    margin:0px 2rem;
    font-size: clamp(1.25rem, 2vw, 2rem);
}
.blank2{
    height:500px;
    background-color: rgb(21,21,21);
}
.footer-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("images/WhoMadeImage.8573a1ad206903af4472.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-textarea{
    position: relative;
    z-index: 1;
    text-align: center;
}

.footer-title{
    font-family: 'Alike', 'serif';
    font-size: 4rem;
    color: white;
}

.title-text{
    font-family: 'Alike', serif;
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
}
.design-dev-part{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}
.footer-part-text{
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 1rem;
    align-items: center;
}
.role-text{
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: rgb(136, 136, 136);
    font-style: italic;
    text-align: right;
}
.name-text{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: left;
    gap:1rem;
}
.design-dev-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank4{
    background-color: rgb(15,15,15);
    height: 10vh;
}